<form id="login_form" action="login.php" method="post" name="Login" target="_self">
<table>
    <tr>
        <td>Device</td>
        <td>
            <select id="device" name="device">
                <option value="android">Android</option>
                <option value="apple">Apple</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Username</td>
        <td>
            <input type="text" name="username" value="XusernameX">
        </td>
    </tr>
    <tr>
        <td>Password</td>
        <td>
            <input type="text" name="password" value="XusernameX">
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            <input type="submit" value="Login to fix">
            <input type="hidden" name="world" value="XworldX">
        </td>
    </tr>
</table>
</form>